<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  </head>
  <body >
      
   <nav class="navbar navbar-inverse navbar-fixed-top" id="myNavBar">
        <div class="container">

            <div class="navbar-header">
                
                <a href="" class="navbar-brand">Jose Mathew</a>
            </div>

            <div class="collapse navbar-collapse" id="defaultNavbar1">
            <a href="/contact" class="btn btn-info navbar-btn navbar-right">Contact Me</a>
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="#Portfolio">Portfolio</a></li>
                    <li><a href="#Services">Services</a></li>
                </ul>
            </div>
        </div>
    </nav>