<%- include partials/header.ejs %>

<h1>About ME</h1>
<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-4">
            <h2>Jose Mathew</h2>
            <p>Computer Programming Student at Georgian College</p>
			<p>2 Kozlov Street, #1002, Barrie, Ontario</p>
			<p>705-816-2838, josemathew.sm@gmail.com </p>

        </div>
        <div class="col-xs-8">
            <h2>Work Experience</h2>
			<h3>SynergyTech – Software Quality Analyst  (05.2015 – 08.2015) </h3>
			<p>Worked with systems analysts, developers, and quality control analysts throughout the project to ensure high quality to the project. </p>
			<h3>Biz-induce.com – Web Developer  (08.2013 – 08.2014) </h3>
			<p>Worked par-time in teams to develop and maintain websites. Volunteered in learning and understanding Internet Marketing and SEO best practices. </p>
        </div>   
    </div>
	
	 </body>
  <%- include partials/footer.ejs %>
</html>