<%- include partials/header.ejs %>

<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-4">
		
            <img src="http://localhost:3000/images/jose.jpg" width = "400px" height = "300px">

        </div>
        <div class="col-xs-8">
            <h2>Jose Mathew</h2>
            <p>Computer Programming Student at Georgian College</p>
			<p>2 Kozlov Street, #1002, Barrie, Ontario</p>
			<p>705-816-2838, josemathew.sm@gmail.com </p>
        </div>   
    </div>
</div>

  </body>
  <%- include partials/footer.ejs %>
</html>
